body {
  background-color: #f0f0f0;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo-container {
  margin: 10px 0;
  display: flex;
  justify-content: left;
  padding: 0 10px;
  border: 2px solid #e0e0e0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.header__title {
  font-size: 3em;
  font-weight: bold;
  margin: 0 0 0 0;
}

.menu-container {
  display: flex;
  justify-content: right;
  padding: 10px 40px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: darkgoldenrod;
  font-size: 1.5em;
  font-weight: bold;
}

.menu__item {
  margin: 10px;
  padding: 0 20px;
}


.popup {
  margin: 0 5rem 1rem 9rem;
  display: flex;
  flex-wrap: wrap;
  gap: 17%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 30px;
}

.main h2 {
  margin-top: 1.5rem;
  font-size: 18px;
  width: 100%;
}

.main img {
  border-radius: 8%;
}

button {
  width: 100%;
  margin-top: 10px;
  font-size: 1.4rem;
}

.list-movies {
  display: flex;
}

.like {
  width: 40%;
  height: 30px;
  margin-top: 10px;
}

.heart {
  position: relative;
  top: 15px;
  right: 10px;
  width: 20px;
  height: 20px;
  filter: invert(63%) sepia(19%) saturate(5536%) hue-rotate(296deg) brightness(102%) contrast(101%) opacity(90%);
}

.footer {
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
